<!DOCTYPE html>
<html>
<head>
    <title>Notre super oreiller</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "http://192.168.1.141:1880/sensors/temperature",
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "POST, GET, OPTIONS"
            },
            success: (response) => {
                console.log("response");
                console.log(response)
            },
            error: (error) => {
                console.log("error");
                console.log(error);
            }
        });
    </script>

</head>
<body>

<span id="temperature"></span>
<form></form>
</body>
</html>